.special-packages {
    margin-top: 103px;
    .section__title {
        position: relative;
        padding-bottom: 43px;
        h2 {
            font-weight: 600;
        }
        .text-theme {
            color: #FFB300;
        }

        p {
            padding-top: 16px;
            margin-bottom: 0;
        }
    }

    .section__title::before {
        background: url('../images/1.png') no-repeat scroll center center;
        height: 29px;
        left: 0;
        width: 100%;
        right: 0;
        z-index: 99;
        position: absolute;
        bottom: 0;
        content: "";
    }
    .section__body {
        margin-top: 55px;
        .package {
            .package__image {
                position: relative;  
            }
           .package__details {
            background-color: #fff;
            width: 319px;
            position: relative;
            bottom: 21px;
            padding: 30px;
            left: 24px;
                p {
                    font-size: 20px;
                }
        
     }

     .package__details-hover {
        position: absolute;
        bottom: -164px;
        right: 0px;
        left: 0px;
        text-align: center;
        top: 20px;
        opacity: 0;
        visibility: hidden;
        transform: translateY(100%);
        transition: all 0.5s ease 0s;
        background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));  
              .hover-inner {
                  padding: 34px 28px;
                        h4 {
                            color: #FFB300;
                            font-size: 18px;
                            margin-bottom: 15px;
                        }
                        h6 {
                            color: #fff;
                            font-size: 14px;
                            margin-bottom: 16px;
                            text-transform: uppercase;
                                i {
                                    margin-right: 11px;
                                }
                        }

                        p {
                            color: #fff;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 24px;
                        }

                        .package-rating {
                            display: flex;
                            justify-content: space-between;
                                .rating {
                                    display: flex;
                                    list-style: none;
                                        li {
                                            margin-left: 5px;
                                            i {
                                                color: #FFB300;
                                                font-size: 18px;
                                            }
                                        }
                                }
                                .view-more {
                                    a {
                                        color: #FFB300;
                                        font-size: 14px;
                                        text-transform: uppercase;
                                        transition: 0.3s;
                                            &:hover {
                                                color: #fff;
                                            }
                                    }
                                }
                        }

              }
                   

    }
        &:hover {
            
            .package__details-hover {
                transform: translateY(-270px);
                opacity: 1;
                visibility: visible;
            }
        }

        }
    }
}