.why-choose-us {
    margin-top: 103px;
    .section__title {
        position: relative;
        padding-bottom: 43px;
        h2 {
            font-weight: 600;
        }
        .text-theme {
            color: #FFB300;
        }

        p {
            padding-top: 16px;
            margin-bottom: 0;
        }
    }

    .section__title::before {
        background: url('../images/1.png') no-repeat scroll center center;
        height: 29px;
        left: 0;
        width: 100%;
        right: 0;
        z-index: 99;
        position: absolute;
        bottom: 0;
        content: "";
    }

    .section__body {
        margin-top: 40px;
        .choose {
            .choose__inner {
                padding-top: 2rem;
                .choose__image {
                    width: 80px;
                    border: 1px solid gray;
                    background-color: #F1F1F1;
                    border: none;
                    border-radius: 100%;
                    padding: 18px;
                    transition: all 0.3s ease 0s;
                }

                h4 {
                    font-size: 20px;
                    padding: 20px 0px;
                    cursor: pointer;
                    transition: all 0.3s ease 0s;
                }

                h4:hover {
                    color: #FFB300;
                }

                p {
                    font-size: 14px;
                    
                }

                .choose__image:hover {
                    background-color: #FFB300;
                }
            }
        }
        
    }
}